<div class="row">

  <div class="kt-portlet kt-portlet--bordered">
    <div class="kt-portlet__body">

      <div class="col-lg-12">

        <div class="row">
          <div class="form-group col-lg-12">
            <div class="kt-input-icon kt-input-icon--left">
              <input type="text" class="form-control form-control-lg" placeholder="Buscar..." id="search">
              <span class="kt-input-icon__icon kt-input-icon__icon--left">
                <span><i class="la la-search"></i></span>
              </span>
            </div>
            <span class="form-text text-muted">Informe o nome do projeto desejado</span>
          </div>
        </div>
        <div class="row">
          <div id="loading-results" class="col-lg-12" style="display: none;">
            <p class="text-center">
              <span class="kt-spinner kt-spinner--loader kt-spinner--primary"></span>
            </p>
          </div>
          <div id="search-results" class="col-lg-12" style="display: none;">

            <div class="kt-notification list">

              

            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</div>